body {
    width: 100%;
    border: 2px solid gray;
    height: 500px;
}

.header {
    height: 200px;
    background-color: #EFF2F0;
    background-image: url(../IMAGES/anh.webp);
    background-repeat: space;
    border: 1px solid gray;
}

#header-txt {
    color: blue;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    position: absolute;
    margin-top: 130px;
    margin-left: 600px;
}

.nav {
    height: 50px;
    border: 1px solid gray;
}

#nav-btn {
    background-color: white;
    border: none;
    margin-left: 30px;
}

.box {
    margin-top: 10px;
}

.box-note {
    color: red;
    font-style: italic;
}

.box-input {
    border: 2px solid rgb(243, 237, 237);
    height: 35px;
    padding-left: 20px;
}

.checkbox-loai {
    display: flex;
    margin-left: 30px;
}

.checkbox-lblloai {
    margin-top: 4px;
    margin-left: 4px;
}