body {
    width: 1300px;
    border: 2px solid gray;
    height: 500px;
}

.header {
    height: 200px;
    background-color: #EFF2F0;
    background-image: url(../IMAGES/anh.webp);
    background-repeat: space;
    border: 2px solid gray;
}

#header-txt {
    color: blue;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    position: absolute;
    margin-top: 130px;
    margin-left: 600px;
}

.nav {
    height: 50px;
    border: 2px solid gray;
}

#nav-btn {
    background-color: white;
    border: none;
    margin-left: 30px;
}